@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* CSS Reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COLOR VARIABLES */
:root {
    --white: #fff;
    --Blue: #29335C;
}


/* GENERAL STYLES */
html {
    font-size: 10px;
}


h1,
h2 {
    font-size: 2rem;
    font-weight: 600;
}

a {
    color: inherit;
    font: inherit;
}

img {
    display: block;
    height: auto;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    line-height: inherit;
    font-family: inherit;
    border: none;
    color: inherit;
    background-color: inherit;
}

.full-container {
    color: var(--Blue);
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.3;
}



/* MAIN GRID LAYOUT */
.full-grid {
    display: grid;
    grid-template-columns: 5.6rem 1fr;
    transition: 0.8s ease-in-out;
}
.extend{
    display: grid;
    grid-template-columns: 10rem 1fr;
    transition: 0.8s ease-in-out;
}
.extend .nav-bar h1{
    display: block;
}
.extend .nav-bar .arrr{
    display: none;
}
.ball {
    padding-right: 5rem;
}
.dragg{
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 30.5rem;
    right: -4rem;
    transform: rotate(-90deg);
    border-radius: 4px;
    width: 10rem;
    padding-bottom: 0.4rem;
    height: 4rem;
    gap: 1.5rem;
}
.dragg img{
    transform: rotate(90deg);
    transition: 0.8s;
}
.dragged li{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
}
.dragged a{
    font-size: 1rem;
    
}
.dragged li img{
    width: 30px;
}

/* NAVBAR*/
.nav-bar {
    padding-top: 2rem;
    background-color: var(--Blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13rem;
    position: relative;
}

.flex-list {
    display: flex;
    flex-direction: column;
    gap: 8.5rem;
    align-items: center;
}

.flex-list li {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    align-items: center;
}

.flex-list li:nth-child(5) {
    margin-top: 15rem;
}


/* This block of code below will make revealing of the hidden texts upon sidebar drag  easier using react js or whatever 🙄  */
.nav-bar>h1, .flex-list a {
    display: none;
}

.drag-button {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 36.5rem;
    left: 0.6rem;
    transform: rotate(-90deg);
    border-radius: 4px;
    width: 10rem;
    padding-bottom: 0.4rem;
    height: 4rem;
    gap: 1.5rem;
}

.drag-button img {
    transform: rotate(-90deg);
}



/* MAIN CONTAINER */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2.1rem 1.4rem 1.5rem;
}


/* HEADER */
.main-header {
    align-self: stretch;
}

.img-flex {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 5.5rem;
    position: relative;
}

.img-holder {
    display: block;
    background-color: var(--Blue);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 1.2rem solid #D9D9D9;
}

.img-holder::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 5px;
    border-radius: 50%;
    background-color: #32A564;
    height: 1.0rem;
    width: 1.0rem;
}

.img-flex + p {
    font-size: 1.2rem;
    color: rgba(41, 51, 92, 0.4)
}



/* GRID SECTION*/
.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 12.5rem;
    width: max(26rem, 50vw);
    grid-template-areas:
        "one one one"
        "two two two"
        "three three three"
        "four four four";
    gap: 2.1rem;
    padding: 0 0.4rem 0 1rem; 
    
}

.grid-tiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 8px 1px #E9E9EB;
    padding: 0 2.9rem 0 2.2rem;
}

.grid-tiles:hover{
    box-shadow: 0px 0px 6px 4px #d8d8d8;
    transition: box-shadow 0.15 linear;
}

.grid-tiles:first-child>p {
    margin-left: -1.4rem;
}

.grid-tiles:last-child>p {
    margin-left: -5rem;
}

.grid-tiles:nth-child(1) {
    grid-area: one;
}

.grid-tiles:nth-child(2) {
    grid-area: two;
}

.grid-tiles:nth-child(3) {
    grid-area: three;
}

.grid-tiles:nth-child(4) {
    grid-area: four;
}



/* IMAGE ARTICLE */
.footer-img-article {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-img:nth-child(n+2) {
    display: none;
}




/* FOR LARGE SCREENS */
@media screen and (min-width: 900px) {
    html {
        font-size: 14px;
    }

    .full-grid {
        display: grid;
        grid-template-columns: 14rem 1fr;
    }

    .img-holder::before {
        top: 5px;
        right: 5px;
    }

    .nav-bar>h1,
    .flex-list a {
        display: initial;
    }

    .flex-list a:hover{
        text-decoration: underline;
    }

    .flex-list li:last-child {
        margin-top: 7rem;
        margin-bottom: 1rem;
    }

    .nav-bar>img {
        display: none;
    }

    .drag-button{
        display: none;
    }

    .main-container {
        margin: 2.3rem 4.8rem 1.7rem 5.3rem;
    }

    .grid-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 15.5rem;
        width: 100%;
        align-content: center;
        grid-template-areas:
            "one one one two two two"
            "three three three four four four";

        gap: 4rem 4.5rem;
        padding: 0;
    }

    .grid-tiles {
        flex-direction: column; 
        justify-content: center;
        gap: 1.3rem;
    }

    .grid-tiles > img ~ img {
        display: none;
    }

    .grid-tiles:first-child>p, 
    .grid-tiles:last-child>p {
        margin: 0;
    }
    
    .footer-img-article {
        justify-content: space-between;
    }

    .footer-img:nth-child(n+2) {
        display: initial;
    }

}



    /* LARGER SCREENS */
 @media screen and (min-width: 1200px){

    .grid-section{
        gap: 4.4rem 5.6rem;
    }
}