@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.all {
	font-family: 'Inter', sans-serif;
}

.grid-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 12.5rem;
	width: max(26rem, 50vw);
	grid-template-areas:
		'one one one'
		'two two two'
		'three three three'
		'four four four';
	gap: 2.1rem;
	padding: 0 0.4rem 0 1rem;
}

.grid-tiles {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 8px 1px #e9e9eb;
	padding: 0 2.9rem 0 2.2rem;
	background-color: var(--root-background, white);
}

.grid-tiles:hover {
	box-shadow: 0px 0px 6px 4px #d8d8d8;
	transition: box-shadow 0.15 linear;
}

.grid-tiles:first-child > p {
	margin-left: -1.4rem;
}

.grid-tiles:last-child > p {
	margin-left: -5rem;
}

.grid-tiles:nth-child(1) {
	grid-area: one;
}

.grid-tiles:nth-child(2) {
	grid-area: two;
}

.grid-tiles:nth-child(3) {
	grid-area: three;
}

.grid-tiles:nth-child(4) {
	grid-area: four;
}
@media only screen and (max-width: 884px) {
	.nav-men {
		transform: translate(0);
		transition: ease-in-out 0.8s;
		display: flex;
		flex-direction: column;
		gap: 15px;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		position: absolute;
		right: 10px;
		padding-top: 2rem;
		top: 0px;
		background-color: #f4fffd;
		width: 50%;
		height: 40vh;
		z-index: 3;
	}

	.nav-men ul {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
}

@media only screen and (max-width: 800px) {
	.hamburge {
		display: initial;
		position: absolute;
		left: 70px;
		top: 20px;
		z-index: 3;
	}
}
/* FOR LARGE SCREENS */
@media screen and (min-width: 900px) {
	.grid-section {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-auto-rows: 27rem;
		width: 100%;
		grid-template-areas:
			'one one one two two two'
			'three three three four four four';

		gap: 4rem 4.5rem;
		padding: 0;
	}

	.grid-tiles {
		flex-direction: column;
		justify-content: center;
		gap: 1.3rem;
	}

	.grid-tiles > img ~ img {
		display: none;
	}

	.grid-tiles:first-child > p,
	.grid-tiles:last-child > p {
		margin: 0;
	}

	.footer-img-article {
		justify-content: space-between;
	}

	.footer-img:nth-child(n + 2) {
		display: initial;
	}
}

/* LARGER SCREENS */
@media screen and (min-width: 1200px) {
	.grid-section {
		grid-auto-rows: 30rem;
		max-width: 90rem;
		gap: 5rem 6rem;
	}
}
/* IMAGE ARTICLE */
.footer-img-article {
	display: flex;
	width: 100%;
	gap: 4rem;
	margin-top: 6rem;
}
.footer-img {
	width: 291px;
}
