
.back_icon_changepwd{
margin-top:34px;
font-size: 30px;
color: #29335C;
}

.try_login_again{
font-size:26px;
color:#29335C;
font-weight:400;
margin-top:64px;
text-align:center;
text-decoration: underline;
}