.container_pwdchange{
  margin: 5px 25px;
}
.change_pass{
font-size:26px;
color:#29335C;
font-weight:600;
margin-top:34px;
text-align:center;
width:85%;
display:inline-block;
}

.back_icon_changepwd{
margin-top:34px;
font-size: 30px;
color: #29335C;
}

.try_login_again{
font-size:26px;
color:#29335C;
font-weight:400;
margin-top:64px;
text-align:center;
text-decoration: underline;
}