.e_envelope{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 20px;
	padding-bottom: 60px;
}
.e_container{
	margin-right: 50px;
	margin-left: 50px;
}
.e_row{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.col_3{
	flex-basis: 50%;
}
.col_3 img{
	width: 100%;
}
.col_4{
	flex-basis: 50%;
	text-align: right;
}
.col_4 h1{
	font-size: 32px;
	color: #29335C;/*blue*/
	margin-top: 12px;
}
.col_4 span{
	color: #9B2226;/*red*/
}
.col_4 p{
	color: #29335C;/*blue*/
	font-size: 18px;
	margin-top: 12px;
	padding-bottom: 28px;
}
.col_4 a{
	text-decoration: none;
	color: #9B2226;
	background-color: #fff;
	padding: 8px 60px;
	border-radius: 4px;
	border: 1px solid #9B2226;
}
@media only screen and (max-width: 700px){
	.e_row{
		flex-wrap: wrap-reverse;
	}
	.e_envelope{
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.e_container{
		margin-left: 25px;
		margin-right: 25px;
		padding: 50px 0;
	}
	.col_3, .col_4{
		flex-basis: 100%;
	}
	.col_4{
		text-align: center;
	}
	.col_4 h1{
		font-size: 24px;
	}
	.col_4 p{
		font-size: 16px;
	}
	.col_4{
		margin-top: 24px;
	}
	.col_3{
		margin-top: 26px;
	}
}
@media only screen and (max-width: 884px){
	.col_4 h1{
		font-size: 24px;
	}
	.col_4 p{
		font-size: 16px;
	}
}