*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.nav{
	background-color: #F4FFFD;
	margin-top: 15px;
}
.nav_container{
	margin-right: 60px;
	margin-left: 20px;
	height: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}
.logo{
	width: 150px;
	height: 50px;
	margin: -10px;
	background-size: cover;
	background-position: center;
	background-image: url('./ECE\ LOGO\ With\ TEXT.png');
}
.right_side{
	float: right;
	display: flex;
}
.right_side ul{
	margin-right: 250px;
}
.right_side ul li{
	display: inline-block;
	margin-left: 36px;
	margin-top: 2px;
}
.right_side ul li a{
	color: #29335C;
	text-decoration: none;
	font-size: 18px;
}
.log{
	margin-left: 36px;
	text-decoration: none;
	font-size: 16px;
	color: #29335C;
	border: 1px solid #29335C;
	border-radius: 4px;
	padding: 4px 30px;
}
.sign{
	margin-left: 36px;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	background-color: #9B2226;
	border-radius: 4px;
	padding: 6px 30px;
}
@media only screen and (max-width: 1000px){
	.right_side ul{
		margin-right: 100px;
	}
}
@media only screen and (max-width: 884px){
	.right_side ul{
		display: none;
	}
	.log{
		margin-left: 18px;
		display: none;
	}
	.sign{
		margin-left: 18px;
		display: none;
	}
}
@media only screen and (max-width: 700px){
	.logo{
		left: -28px;
	}
	.log{
		margin-left: 8px;
		font-size: 16px;
		padding: 2px 8px;
	}
	.sign{
		margin-left: 8px;
		font-size: 16px;
		padding: 2px 8px;
	}
	.nav_container{
		margin-right: 10px;
	}
}