.hero_container{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: -90px;
	padding: 195px 20px;
}
.hero_row{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: -30px;
}
.col_2{
	flex-basis: 50%;
}
.col_2 img{
	width: 100%;
}
.col_1{
	flex-basis: 50%;
	text-align: left;
}
.vector {
	margin-left: -60px;
	margin-top: -160px;
	width: 50px;
}
.vector12 {
	margin-left: -40px;
	margin-top: -20px;
	width: 30px;
}
.col_1 h2{
	background: #F4FFFD;
	text-align: center;
	max-width: 450px;
	padding: 20px;
	color: #29335C;
	font-family: 'Aeros', sans-serif;
	margin-bottom: 10px;
	font-size: 20px;
}

.col_1 h1{
	font-size: 36px;
	color: #29335C;/*blue*/
	margin-top: 12px;
}
.col_1 span{
	color: #9B2226;/*red*/
}
.col_1 p{
	color: #29335C;/*blue*/
	font-size: 20px;
	margin-top: 12px;
	padding-bottom: 50px;
}
.col_1 a{
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	background-color: #9B2226;
	padding: 8px 30px;
	border-radius: 4px;
	text-transform: uppercase;
}

@media only screen and (max-width: 884px){
	.hero_container{
		margin-left: 25px;
		margin-right: 25px;
		padding: 100px 10px;
	}
	.col_1, .col_2{
		flex-basis: 100%;
	}
	.hero_hide{
		display: none;
	}
	.col_1 h2{
		font-size: 10px;
		max-width: 300px;
	}
	.hero_container{
		margin-left: 25px;
		margin-right: 25px;
		padding: 100px 10px;
	}
	.col_1, .col_2{
		flex-basis: 100%;
	}
	.col_1{
		text-align: center;
	}
	.hero_hide{
		display: none;
	}
	
	.col_1 h1{
		font-size: 10px;
		margin-top: 16px;
	}
	.col_1 p{
		font-size: 12px;
	}
	.col_2{
		margin-top: 24px;
	}
	.vector, .vector12 {
		display: none;
	}
	.col_1 h1{
		font-size: 20px;
		margin-top: 16px;
	}
	.col_1 p{
		font-size: 14px;
	}
	.vector, .vector12 {
		display: none;
	}
}
