
.container_login{

 display:grid;
 grid-template:auto auto/50% 50%;
 gap:20px;
 height:auto;
 justify-content:center;
 margin:30px;
 }

.container_login .content_1{
 width:100%;
 height:auto;
 background:url('background.png') center no-repeat;
 background-size:180%;
 
 }

 .container_login .content_1 .back_icon a{
 color:#29335C;
 font-size:25px;
 }

 .container_login .content_1 .logo{
 color:#29335C;
 margin-left:15px;
 margin-top:-10px;
 }

 .container_login .content_1 .logo img{
 height:100px;
 max-width:100px;
 }

 .container_login .content_1 .welcome{
 font-weight:500;
 text-align:center;
 color:#29335C;
 background-color:#F4FFFD;
 }

 .container_login .content_1 .header{
 text-align:center;
 color:#29335C;
 font-size:48px;
 font-weight:700;
 }

 .container_login .content_1 .header span{
 color:#9B2226;
 }

 .form form{
 margin:50px auto;
 }

 .form form input::placeholder{
 color:#29335C;
 font-weight:500;
 }
 
 .form form input{
 width:100%;
 margin:27px 0px;
 padding:15px;
 border:2px solid transparent;
 border-bottom-color:#29335C;
 }
 
 input:focus{
 outline:transparent;
 }

 .forgot{
 text-align:right;
 margin-top:-15px;
 }

 .forgot a{
 color:#9B2226;
 text-decoration:none;
 font-weight:500;
 font-size:14px;
 }

 .form form button{
 width:100%;
 background-color:#9B2226;
 text-align:center;
 padding:13px;
 margin:50px 0px;
 color:white;
 border:none;
 border-radius:5px;
 }

 .container_login .content_2{
 width:100%;
 height:auto;
 background-color:#F4FFFD;
 }
 
 .container_login .content_2 img{
 width:100%;
 height:100%;
 }

 @media only screen and (max-width:360px){

 .container_login{
 display:block;
 height:100%;
 max-width:100%;
 margin:20px;
 background:url('background.png') center no-repeat;
 background-size:180%;
 }

 .container_login .content_1{
 background:none;
 }

 .container_login .content_1 .logo{
 margin-left:50px;
 }

 .container_login .content_1 .header{
 font-size:20px;
 }

 .container_login .content_2{
 background:none;
 }
}



.container_login{

    display:grid;
    grid-template:auto auto/50% 50%;
    gap:20px;
    height:auto;
    justify-content:center;
    margin:30px;
    }
   
   .container_login .content_1{
    width:100%;
    height:auto;
    background:url('background.png') center no-repeat;
    background-size:180%;
    
    }
   
    .container_login .content_1 .back_icon a{
    color:#29335C;
    font-size:25px;
    }
   
    .container_login .content_1 .logo{
    color:#29335C;
    margin-left:15px;
    margin-top:-10px;
    }
   
    .container_login .content_1 .logo img{
    height:100px;
    max-width:100px;
    }
   
    .container_login .content_1 .welcome{
    font-weight:500;
    text-align:center;
    color:#29335C;
    background-color:#F4FFFD;
    }
   
    .container_login .content_1 .header{
    text-align:center;
    color:#29335C;
    font-size:48px;
    font-weight:700;
    }
   
    .container_login .content_1 .header span{
    color:#9B2226;
    }
   
    .form form{
    margin:50px auto;
    }
   
    .form form input::placeholder{
    color:#29335C;
    font-weight:500;
    }
    
    .form form input{
    width:100%;
    margin:27px 0px;
    padding:15px;
    border:2px solid transparent;
    border-bottom-color:#29335C;
    }
    
    input:focus{
    outline:transparent;
    }
   
    .forgot{
    text-align:right;
    margin-top:-15px;
    }
   
    .forgot a{
    color:#9B2226;
    text-decoration:none;
    font-weight:500;
    font-size:14px;
    }
   
    .form form button{
    width:100%;
    background-color:#9B2226;
    text-align:center;
    padding:13px;
    margin:50px 0px;
    color:white;
    border:none;
    border-radius:5px;
    }
   
    .container_login .content_2{
    width:100%;
    height:auto;
    background-color:#F4FFFD;
    }
    
    .container_login .content_2 img{
    width:100%;
    height:100%;
    }
   
    @media only screen and (max-width:360px){
   
    .container_login{
    display:block;
    height:100%;
    max-width:100%;
    margin:20px;
    background:url('background.png') center no-repeat;
    background-size:180%;
    }
   
    .container_login .content_1{
    background:none;
    }
   
    .container_login .content_1 .logo{
    margin-left:50px;
    }
   
    .container_login .content_1 .header{
    font-size:20px;
    }
   
    .container_login .content_2{
    background:none;
    }
   }

